
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    
}
body{
    overflow-x: hidden;
}
html::-webkit-scrollbar-track {
    background: #000;
}

html::-webkit-scrollbar-thumb {
    background: #f7c601;
    border-radius: 10px;
}

html::-webkit-scrollbar {
    width: 10px;
}

.btnn {
    background-color: #f7c601;
    color: black;
    line-height: 40px;
    outline: none;
    border: none;
    font-size: 15px;
    padding: 0px 35px;
    border-radius: 24px;
    font-family: BoldItalic;
    text-transform: uppercase;
    transition: all 0.3s;
    text-decoration: none;
}

.btnn:hover {
    background-color: black;
    color: white;
}
.go-top-btn {
    position: fixed;
    bottom: 35px;
    right: 35px;
    cursor: pointer;
    height: 50px;
    width: 50px;
     background: #fff;
    border: 3px solid #333; 
border-radius: 50%;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 9999999999;
}

/* .go-top-btn img {
    width: 50px;
    height: 50px;
    object-fit: cover;
} */
 .go-top-btn i {
    font-size: 24px;
    color: #f7c601;
 }

 
/*  */
.navbar{
background-color: #fff;
    border-bottom: #f7c601 solid;
}
.navbar-nav li a{
    color: #000;
}
.navbar-nav li a:hover{
    color: #f7c601;
}
.logo img {
    width: 150px;
}
.icons a {
    font-size: 1.7rem;
    margin-right: 10px;
}
.icons i:hover{
transform: translateY(-3px);
}
.icons a i {
    color: #000;
}

.icons a i:hover {
    color: #d3ab0b;
}

.icon2 {
    position: relative;
    text-align: right;
}

@media(max-width:500px){
.nav{
    justify-content: space-around;
}
}



header .shopping {
    position: relative;
    text-align: right;
}

header .shopping i{
font-size: 1.5rem;
}

header .shopping span {
    background: #f7c601;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    position: absolute;
    top: -5px;
    left: 50%;
    width: 20px;
    height: 20px;
    font-size: 14px;
}
.icons{
    display: flex;
    gap: 15px;
    align-items: center;
}
/*  */
.carousel-caption{
    position: absolute;
    top: 28%;
}


@media(max-width:991px) {
   
.carousel-caption {
        position: absolute;
        top: 20%;
    }
    
.carousel-caption h1 {
   font-size: 18px;
   margin-top: 0;
}
    .btnn {
        padding: 0 20px;
        line-height: 20px;
        font-size: 13px;
    }

   

}
@media(max-width:650px){
    .carousel-caption {
            position: absolute;
            top: 8%;
        }
}
@media(max-width:447px){
    .carousel-caption {
            position: absolute;
            top: -10%;
        }
}
@media(max-width:350px){
    .carousel-caption {
            position: absolute;
            top: -25%;
        }
}
@media(max-width:344px){
.carousel-caption {
        position: absolute;
        top: -40%;
    }
}
/*  */
.n{

background-color: #fff;
border-radius:40px 0 0 40px ;
}
.btn1{
border-radius: 0 40px 40px 0 !important;
    padding: 20px 50px !important;
    background-color: black !important;
    color: #f7c601 !important;
}
/*  */
.three-text1 h2
 {
    font-size: 72px;
    text-transform: uppercase;
    color: black;
    margin-bottom: 10px;
    
}

.three-text1 h3{
    font-size: 40px;
    text-transform: uppercase;
    color: black;
    line-height: 35px;
}
@media(max-width:447px) {
    .three-text1 h2 {
        font-size: 20px;
    }
         .three-text1 h3 {
             font-size: 20px;
         }
}
.three-text1 p {
    font-size: 15px;
    line-height: 30px;
    width: 90%;
}
/* .elements{
    display: flex;
    align-items: center;
    gap: 80px;
} */
.ele{
    border-right: solid 1px #0000003f;
}
/* section */
.woww{
    font-size: 40px;
}
@media(max-width:447px) {
.woww {
        font-size: 20px;
    }
}
/*  */
#CATEGORY{
    background-color:#f7f7f7 ;
}
.carddd{
background-color: white;
display: flex;
justify-content: space-between;
align-items: center;
border: 1px solid transparent;
margin-bottom: 50px;
padding-bottom: 10px;
}
.carddd:hover {
    border: 1px solid #f7c601;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, .05);
}
.text h4:hover {
    color: #d3ab0b;
    cursor: pointer;
}
/* section */
.card-badge {
    position: absolute;
    top: 20px;
    left: 10px;
    background: #f7c601;
    color: #fff;
    padding: 5px 15px;
    font-size: var(--fs-7);
    border-radius: 25px;
}
.star i{
    color: #f7c601;
}
/*  */
 .list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 20px;
    row-gap: 20px;
    margin-top: 50px;
    padding: 20px;
}

.list .item {
    text-align: center;
    background-color: #ffffff;
    letter-spacing: 1px;
    border: solid 1px rgb(216, 224, 224);
    position: relative;
    overflow: hidden;
    transition: 1s ease;
}

.list .item img {
    width: 100%;
    object-fit: cover;
    /* position: relative;
    overflow: hidden; */
}
.iconss{
    position: absolute;
    top: 0;
    right: -120%;
display: flex;
flex-flow: column;
    transition: 0.25s ease;
}
.iconss a {
    height: 2rem;
    width: 2rem;
    /* line-height: 4.5rem; */
    font-size: 20px;
    color: #000;
    border-radius: 50%;
    background: #fff;
    margin-top: .5rem;
    padding: 5px;
    text-decoration: none;
}
.iconss a:hover{
    color: #f7c601;
}
.list .item:hover .iconss{
    right: 10px;
}

.list .item .title {
    font-weight: 600;
}

.list .item .price {
    margin: 10px;
} 

.list .item button {
    background-color: #1C1F25;
    color: #fff;
    width: 100%;
    padding: 10px;
}

.cardd {
    position: fixed;
    top: 0;
     /* left: 100%;  */
    width: 500px;
    right: -100%;
    background-color: #453E3B;
    height: 100vh;
    transition: 0.5s;
    z-index: 1000000000000000000;
    overflow: auto;
}

/* .active .cardd {
    left: calc(100% - 500px);
} */
/* .active .cardd {
    right: 0;
} */
.cardd h1 {
    color: #E8BC0E;
    font-weight: 100;
    margin: 0;
    padding: 0 20px;
    height: 80px;
    display: flex;
    align-items: center;
}

.cardd .checkOut {
    position: absolute;
    bottom: -100%;
    
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}

.cardd .checkOut div {
    background-color: #E8BC0E;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
}

.cardd .checkOut div:nth-child(2) {
    background-color: #1C1F25;
    color: #fff;
}

.listCard li {
    display: grid;
    grid-template-columns: 100px repeat(3, 1fr);
    color: #fff;
    row-gap: 10px;
    margin-bottom: 20px;
}

.listCard li div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.listCard li img {
    width: 90%;
}

.listCard li button {
    background-color: #fff5;
    border: none;
}

.listCard .count {
    margin: 0 10px;
}
.active .container {
    transform: translateX(-200px);
}
@media(max-width:991px){
.list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 20px;
        row-gap: 20px;
        margin-top: 50px;
padding: 100px;
    }
 
}
@media(max-width:654px){
.list {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        column-gap: 20px;
        row-gap: 20px;
        margin-top: 50px;
    }
}
 @media(max-width:478px) {
    .list {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            column-gap: 20px;
            row-gap: 20px;
            margin-top: 50px;
    padding: 30px;
        }
   
} 
@media(max-width:500px) {
    .listCard li {
            display: grid;
            grid-template-columns: 100px repeat(3, 1fr);
            color: #fff;
            row-gap: 7px;
            margin-bottom: 20px;
        }
        .list{
            padding: 10px;

                }
    }


/*  */
.back{
    background-image: url("img/back-17.jpg");
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 90vh;
    position: relative;
}
.cont{
    padding: 200px 100px;
}
/*  */

.arrivals{
    background-color: #f7f7f7;
    margin-top: 30px;
    padding-bottom: 30px;
}
.heading {
    text-align: center;
    margin-bottom: 2rem;
    position: relative;
    padding-top: 20px;
}
.heading::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 37.4%;
    height: .01rem;
    background: rgb(185, 183, 183);
}
.heading::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 37.4%;
    height: .01rem;
    background: rgb(185, 183, 183);
}
.heading span {
    font-size: 3rem;
    padding: .5rem 2rem;
    color: black;
    background: #fff;
    border:0.1rem solid rgba(0, 0, 0, 0.1) ;
    z-index: 15;
}


.arrivals .arrivals-slider .box {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding: 2rem 1rem;
    margin: 1.5rem 0;
    cursor: grab;
    border: 0.1rem solid rgba(0, 0, 0, 0.1) ;
    background-color: #fff;
    border-radius: 20px;
}


.arrivals .arrivals-slider .box:hover {
    border:0.1rem solid rgb(255, 253, 118) ;
}



.arrivals .arrivals-slider .box .contentt h4 {
    color: black;
}

/*  */
.video {
position: absolute;
top: 35%;
left: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.play-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f60;
    background: #d3ab0b;
    color: #fff;
    font-size: 50px;
    width: 100px;
    height: 100px;
    z-index: 2;
    border-radius: 100%;
    position: relative;
    cursor: pointer;
}

.play-btn:before {
    content: '';
    position: absolute;
    border: 15px solid #fff;
    border-radius: 50%;
    top: -20px;
    left: -20px;
    right: -20px;
    bottom: -20px;
    animation: bloom1 1.5s linear infinite;
    opacity: 0;
    z-index: 1;
}

.play-btn:after {
    content: '';
    position: absolute;
    border: 15px solid #fff;
    border-radius: 50%;
    top: -20px;
    left: -20px;
    right: -20px;
    bottom: -20px;
    animation: bloom2 1.5s linear infinite;
    opacity: 0;
    animation-delay: .4s;
    z-index: 1;
}

@keyframes bloom1 {
    0% {
        transform: scale(.5);
    }

    50% {
        opacity: 1;
    }

    100% {
        transform: scale(1.5);
    }
}

@keyframes bloom2 {
    0% {
        transform: scale(.5);
    }

    50% {
        opacity: 1;
    }

    100% {
        transform: scale(1.5);
    }
}
.vido{
    width: 100%;
    height: 95vh;
    background-color: #00000081;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 666666;
display: none;
}
.vido.active{
display: block;
}

.vido i{
    font-size: 25px;
    color: #ffffff;
cursor: pointer;
}
.vid{
    width: 50%;
    height: 70vh;
    position: absolute;
    top: 10%;
    left: 20%;
    
}
@media(max-width:800px){
.vid{
position: absolute;
    top: 10%;
    left: 0;
}
.video {
    position: absolute;
    top: 10%;
    left: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.heading::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 0;
   
}

.heading::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 0;
    
}
}
@media(max-width:600px){
.vid {
        height: 70vh;
        width: 50%;
        right: 20%;
    }
        .cardd {
            position: fixed;
            top: 0;
            width: 500px;
            right: 0;
            background-color: #453E3B;
            height: 100vh;
            transition: 0.5s;
            z-index: 100000;
        }
}
 @media(max-width:500px){
.cardd {
        position: fixed;
        top: 0;
        width: 100%;
        right: 0;
        background-color: #453E3B;
        height: 100vh;
        transition: 0.5s;
        z-index: 100000000;
    }
}
/*  */
.eight {
    margin: 120px 0px;
}

.eight .image {
    overflow: hidden;
}

.eight img {
    transition: all 0.3s;
}

.eight img:hover {
    transform: scale(1.1);
}
@media(max-width:766px){
    .eight img {
        margin-bottom: 15px;
        }
}
/*  */
footer {
    background-color: black;
    border-top: solid rgb(224, 222, 70);
    padding: 100px 0px 80px;
}

footer img {
    max-width: 165px;
    margin-bottom: 30px;
}

footer p {
    color: #FFFFFF4D;
    font-size: 13px;
    line-height: 24px;
    margin-bottom: 50px;
    width: 80%;
}

footer h4 {
    margin-bottom: 20px;
    color: hsla(0, 0%, 100%, .8);
    font-size: 18px;
    text-transform: uppercase;
}

footer ul li {
    margin-bottom: 20px;
    list-style: none;
}
footer ul li a{
    text-decoration: none;
}
footer a span {
    color: #ffffff4d;
    font-size: 13px;

}

footer .hover-link {
    color: #ffffff4d;
    font-size: 13px;
}

footer .hover-link:hover {
    color: #f7c601;
}

.subscribe .btn {
    padding: 0px 10px;
}

.subscribe::placeholder {
    color: #ffffff4d;
}

.subscribe input {
    background-color: black;
    border: none;
    border-bottom: 1px solid #ffffff4d;
    color: #f7c601;
}

.subscribe input:focus {
    outline: none;
}

.social {
    background-color: #f7c601;
    border-radius: 10px;
    color: rgba(0, 0, 0, .8);
    padding: 10px 12px;
    transition: all 0.3s;
}

.social:hover {
    background-color: #caa200;
}


.loading-page {
    position: fixed;
    top: 0;
    left: 0;
    background: black;

    height: 100vh;
    z-index: 8000000000;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
    color: #191654;
}
@media(max-width:500px){
    .loading-page{
        display: flex;
            flex-direction: column;
            gap: 1.5rem;
            align-items: center;
            justify-content: center;
            padding-right: 50px;
            
    }
}
.loading-page.active{
    display: none;
}
#svg {
    height: 150px;
    width: 150px;
    stroke: white;
    fill-opacity: 0;
    stroke-width: 3px;
    stroke-dasharray: 4500;
    animation: draw 8s ease;
}

@keyframes draw {
    0% {
        stroke-dashoffset: 4500;
    }

    100% {
        stroke-dashoffset: 0;
    }
}

.name-container {
    height: 30px;
    overflow: hidden;
}

.logo-name {
    color: #fff;
    font-size: 20px;
    letter-spacing: 12px;
    text-transform: uppercase;
    margin-left: 20px;
    font-weight: bolder;
}
/* product1 */
.divs{
    padding: 180px 0;
}
.button {
    position: relative;
    overflow: hidden;
    height: 3rem;
    padding: 0 3rem;
    border-radius: 1.5rem;
    background: #3d3a4e;
    background-size: 400%;
    color: #fff;
    border: none;
    cursor: pointer;
}

.button:hover::before {
    transform: scaleX(1);
}

.button-content {
    position: relative;
    z-index: 1;
}

.button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: 0 50%;
    width: 100%;
    height: inherit;
    border-radius: inherit;
    background-color: #d3ab0b;
    transition: all 0.475s;
}
.featured .row .image-container {
     display: flex;
    /* gap: 1.5rem; */
    align-items: center; 
}

.featured .row .image-container .small-image {
    width: 25%;
padding-left: 20px;
}

.featured .row .image-container .big-image {
    width: 80%;
    padding: 1rem;
}

.featured .row .image-container .small-image img {
    width: 100%;
    padding: 1rem;
    border: .1rem solid rgba(0, 0, 0, .1);
    cursor: pointer;
}

.featured .row .image-container .small-image img:hover {
    background: #ccc;
}

.featured .row .image-container .big-image img {
    width: 100%;
}

.featured .row .image-container .big-image img:hover {
    transform: scale(1.05);
}

.featured .row .content h3 {
    font-size: 2.5rem;
    color: #000;
}

.featured .row .content .stars i {
    font-size: 1.7rem;
    color: var(--bittersweet);
    padding: .5rem 0;
}

.featured .row .content p {
    font-size: 1.5rem;
    color: #666;
    padding: 1rem 0;
}

.featured .row .content .price {
    font-size: 2.5rem;
    color: #000;
    font-weight: bolder;
}

.featured .row .content .price span {
    font-size: 1.5rem;
    color: var(--bittersweet);
    text-decoration: line-through;
}
/* section2 product1 */
 .featured .featured-slider {
    padding: 1rem;
    padding-bottom: 4rem;
}

.featured .featured-slider .box {
    padding: 1.5rem;
    text-align: center;
    box-shadow: var(--box-shadow);
    border: var(--border);
    border-radius: .5rem;
} 


.stars i {
    color: #E8BC0E;
}
.label_sale {
    background: url("img/bkg_label_sale.png") center no-repeat;
color: #fff;
    padding-left: 5px;
    font-weight: 500;
    text-align: center;
    position: absolute;
    top: 20px;
    right: 14px;
    text-transform: uppercase;
    font-size: 14px;
    z-index: 3;
    width: 56px;
    height: 22px;
}
